<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
			integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
		/>
		<title>HALCYON 2k20</title>
		<link rel="icon" type="image/ico" href="../static/img/logo.png" />
	</head>
	<style media="screen">
			.navbar {
			opacity: 1;
			transition: opacity 0.5s ease;
			}
			.navbar-hide {
			pointer-events: none;
			opacity: 0;
			}
	</style>
	<body>
		<div id="up1">
			<nav class="navbar navbar-expand-sm fixed-top" style="margin-top:6vw"role="navigation">
				<button
							class="navbar-toggler"
							data-toggle="collapse"
							data-target=".navbar-collapse"
							>
							<span class="navbar-toggler-icon">
								<i class="fas fa-bars" style="margin-left: -8px;color:#000;"></i>
							</span>
				</button>
				<div class="collapse navbar-collapse " id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" style="color:black;font-size:20px" href="index.html"><b>Home</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:black;font-size:20px" href="genres.html"><b>Genres</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:black;font-size:20px" href="schedules.html"><b>Schedules</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:black;font-size:20px" href="aboutus.html"><b>About Us</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="margin-right:2vw;color:black;font-size:20px" href="contact.html"><b>Contact Us</b></a>
						</li>
					</ul>
				</div>
			</nav>
	</div>
		<!-- Button trigger modal -->
<div class="container">
	<div class="row">
		<div class="col">
			<!-- Classical Solo -->
  <!-- Button to Open the Modal -->
		<div class="carousel item">
			<img src="../static/img/solo.jpg" width="100%" height="100%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter">
	        <a type="button" data-toggle="modal" data-target="#exampleModalCenter" class="position-absolute" style="top:67%;left:42%;color:white;font-size:2vw">Classical Solo</a>
	    </div>
		<br>
  <!-- The Modal -->
  	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    	<div class="modal-dialog">
      	<div class="modal-content">
        	<!-- Modal Header -->
        	<div class="modal-header">
          	<h4 class="modal-title">RULES</h4>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	</div>
        <!-- Modal body -->
        	<div class="modal-body">
									<strong style="font-size:1vw">PRELIMS: </strong> <br />
									<ul style="font-size:1vw">
										<li>Maximum of 3 participants are allowed per college.</li>
										<li>The participants will be given a max of 3+2 mins on stage.</li>
										<li>CD for dance should be made available to the concerned co-coordinator 3 hours prior to the event in a ready to play condition. (Only CD’s /USB in MP3 format)</li>
										<li>Any costumes, gestures and actions should not be obscene.</li>
										<li>Live band performance or group song accompanied by dancing is not allowed.</li>
										<li>Poor CD quality is not the responsibility of authorities.</li>
										<li>Any injury sustained by the participant while performing the dance is not the responsibility of the organizers.</li>
										<li>The decision of the JUDGES is final and binding on all the participants.</li>
									</ul>
        	</div>
      	</div>
    	</div>
  	</div>
	</div>
	<div class="col">
		<!--Western Solo-->
		<div class="carousel item">
			<img src="../static/img/wsolo.jpg" width="100%" height="100%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter1">
			<a type="button" data-toggle="modal" data-target="#exampleModalCenter1" class="position-absolute" style="top:50%;left:28%;color:white;font-size:2vw">Western Solo</a>
		</div>
		<br>
		<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">RULES</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
			<!-- Modal body -->
					<div class="modal-body">
							<p>
								<ul style="font-size:1vw">
									<li>Maximum of 3 participants are allowed per college.</li>
                  <li>The participants will be given a max of 3+2 mins on stage.</li>
                  <li>CD for dance should be made available to the concerned co-coordinator 3 hours prior to the event in a ready to play condition. (Only CD’s /USB in MP3 format)</li>
                  <li>Any costumes, gestures and actions should not be obscene.</li>
                  <li>Live band performance or group song accompanied by dancing is not allowed.</li>
                  <li>Poor CD quality is not the responsibility of authorities.</li>
                  <li>Any injury sustained by the participant while performing the dance is not the responsibility of the organizers.</li>
                  <li>The decision of the JUDGES is final and binding on participants.</li>
								</ul></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<!-- Duet -->
		<div class="row">
			<div class="col">
		<div class="carousel item">
			<img src="../static/img/duet.jpg" width="100%" height="100%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter2">
	        <a type="button" data-toggle="modal" data-target="#exampleModalCenter2" class="position-absolute" style="top:50%;left:42%;color:white;font-size:2vw">DUET</a>
	    </div>
		<br>
  <!-- The Modal -->
  	<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    	<div class="modal-dialog">
      	<div class="modal-content">
        	<!-- Modal Header -->
        	<div class="modal-header">
          	<h4 class="modal-title">RULES</h4>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	</div>
        <!-- Modal body -->
        	<div class="modal-body">
									<ul style="font-size:1vw">
										<li>Maximum three teams per college.</li>
                    <li>No gender restriction on team constitution.</li>
                    <li>Live band performance not allowed.</li>
                    <li>CD/USB to be provided in MP3 format only.</li>
                    <li>Time limit: 4+2 minutes.</li>
									</ul>
        	</div>
      	</div>
    	</div>
  	</div>
	</div>
		<!--Choreography-->
		<div class="col">
		<div class="carousel item">
			<img src="../static/img/choreography.jpg" width="100%" height="100%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter3">
			<a type="button" data-toggle="modal" data-target="#exampleModalCenter3" class="position-absolute" style="top:50%;left:22%;color:white;font-size:2vw">Choreography</a>
		</div>
		<br>
		<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">RULES</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
			<!-- Modal body -->
					<div class="modal-body">
							<p>
								<ul style="font-size:1vw">
									<li>Maximum 3 teams per college.</li>
                  <li>Duration of performance: 6+2 min.</li>
                  <li>Pre-recorded CD is allowed on stage (MP3 format).</li>
                  <li>Recording should be on CD in ready to play condition which should be handed over 1 hour before the event.</li>
                  <li>Points will be awarded for costumes, interpretation and co-ordination with the music and group synchronization, entry – exit and facial expression.</li>
                  <li>Max no. of participants is 12 and minimum is 4.</li>
                  <li>Poor CD quality is not the responsibility of the authorities.</li>
                  <li>All participants should report to back stage 30 mins prior to beginning of the event.</li>
                  <li>Any injuries sustained by the participants while performing the dance are not the responsibilities of the organizers.</li>
                  <li>The decision of the JUDGES is final and binding.</li>
								</ul></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
	<script src="//www.powr.io/powr.js?external-type=html"></script>
	<script
		src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"
	></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"
	></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
	<script type="text/javascript">
			$(window).scroll(function(e) {
		      var scroll = $(window).scrollTop();
		      if (scroll >= 150) {
		      		$('.navbar').addClass("navbar-hide");
		      } else {
		      		$('.navbar').removeClass("navbar-hide");
		      }
		    });
				$('#myModal').on('shown.bs.modal', function () {
			  $('#myInput').trigger('focus')
			});
	</script>
	<script>
			$(document).ready(function(){
			    function alignModal(){
			        var modalDialog = $(this).find(".modal-dialog");
			        /* Applying the top margin on modal dialog to align it vertically center */
			        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
			    }
			    // Align modal when it is displayed
			    $(".modal").on("shown.bs.modal", alignModal);
			    // Align modal when user resize the window
			    $(window).on("resize", function(){
			        $(".modal:visible").each(alignModal);
			    });
			});
</script>
</body>
</html>
