<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
			integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
		/>
		<title>HALCYON 2k20</title>
		<link rel="icon" type="image/ico" href="../static/img/logo.png" />
	</head>
	<style media="screen">
		.navbar {
		opacity: 1;
		transition: opacity 0.5s ease;
		}
		.navbar-hide {
		pointer-events: none;
		opacity: 0;
		}
		body {
			background: url('../static/img/fineartsbg.jpg');
			background-size: 100%;
		}
	</style>
	<body>
		<div id="up1">
			<nav class="navbar navbar-expand-sm fixed-top" style="margin-top:6vw" role="navigation">
				<button
					class="navbar-toggler"
					data-toggle="collapse"
					data-target=".navbar-collapse"
					>
					<span class="navbar-toggler-icon">
						<i class="fas fa-bars" style="margin-left: -8px;color:#fff;"></i>
					</span>
				</button>
				<div class="collapse navbar-collapse " id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="index.html"><b>Home</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="genres.html"><b>Genres</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="schedules.html"><b>Schedules</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="aboutus.html"><b>About Us</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="margin-right:2vw;color:white;font-size:2vw" href="contact.html"><b>Contact Us</b></a>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<img class="img-responsive" style="margin-left:8vw" width="11%" height="auto" src="../static/img/logo strokes.png" alt="Halcyon">

		<div class="container">
			<br>
			<!--Face painting-->
		<img style="margin-left:2vw;" src="../static/img/fp.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter">
		<strong><a data-toggle="modal" data-target="#exampleModalCenter" style="font-family: fantasy;margin-left: 6vw;color:white;font-size:3vw">Face Painting</a></strong>

  <!-- The Modal -->
  	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    	<div class="modal-dialog">
      	<div class="modal-content">
        	<!-- Modal Header -->
        	<div class="modal-header">
          	<h4 class="modal-title">RULES</h4>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	</div>
        <!-- Modal body -->
        	<div class="modal-body">
						<ul style="font-size:1vw">
							<li>Topic will be given on spot.</li>
							<li>Paints and brushes will be provided (maximum 6
							colours).</li>
							<li>Provisions- Waste cloth/paper, Water, Plastic Cups.</li>
							<li>Time limit: 1 hour</li>
						</ul>
        	</div>
				</div>
			</div>
		</div>
		<br><br><br>

		<!--Clay Modelling-->
		<strong><a data-toggle="modal" data-target="#exampleModalCenter1" style="font-family: fantasy;margin-left: 2vw;color:white;font-size:3vw">Clay Modelling</a></strong>
		<img style="margin-left:6vw" src="../static/img/cm.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter1">
		<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">RULES</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
			<!-- Modal body -->
					<div class="modal-body">
							<p>
								<ul style="font-size:1vw">
									<li>Individual Event.</li>
							    <li>No colours allowed.</li>
									<li>Topic will be given on the spot.</li>
									<li>Clay and water will be provided.</li>
									<li>No other materials must be used.</li>
									<li>Time limit: 1 hour 15 minutes.</li>
								</ul></p>
					</div>
				</div>
			</div>
		</div>
		<br><br><br>

		<!-- collage -->
		<img style="margin-left:2vw" src="../static/img/collage.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter2">
		<strong><a data-toggle="modal" data-target="#exampleModalCenter2" style="font-family: fantasy;margin-left: 10vw;color:white;font-size:2vw">COLLAGE</a></strong>

  <!-- The Modal -->
  	<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    	<div class="modal-dialog">
      	<div class="modal-content">
        	<!-- Modal Header -->
        	<div class="modal-header">
          	<h4 class="modal-title">RULES</h4>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	</div>
        <!-- Modal body -->
        	<div class="modal-body">
						<strong style="font-size:1vw">PRELIMS: </strong> <br />
						<ul style="font-size:1vw">
							<li>2 participants per team.</li>
							<li>Duration: 1 hour 30 minutes.</li>
							<li>The topic will be given on the spot.</li>
							<li>Only chart paper and glue will be provided per team.</li>
							<li>Scissors and burning of papers prohibited.</li>
							<li>No other item will be provided.</li>
							<li>Participants will not be allowed to leave the hall during
										the event.</li>
						</ul>
        	</div>
      	</div>
    	</div>
  	</div>
		<br><br><br>

		<!-- INSTALLATION -->
		<strong><a data-toggle="modal" data-target="#exampleModalCenter3" style="font-family: fantasy;margin-left: 2vw;color:white;font-size:4vw">INSTALLATION</a></strong>
		<img style="margin-left:6vw" src="../static/img/instal.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter3">

		<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">RULES</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
			<!-- Modal body -->
					<div class="modal-body">
							<p>
								<ul style="font-size:1vw">
									<li>3 members per team.</li>
									<li>Theme will be provided 2 hrs prior to the event.</li>
									<li>No accessories will be provided.</li>
									<li>Damage to college property will attract heavy fine and
										disqualification.</li>
									<li>Only waste materials to be used.</li>
									<li>Use of transportation to find material is not allowed.</li>
									<li>Art must be explained.</li>
									<li>Duration of the event: 1 hr.</li>
								</ul></p>
					</div>
				</div>
			</div>
		</div>
		<br><br><br>

		<!-- 70MM -->
		<img style="margin-left:2vw" src="../static/img/70mm.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter4">
		<strong><a data-toggle="modal" data-target="#exampleModalCenter4" style="font-family: fantasy;margin-left: 10vw;color:white;font-size:4vw">70MM</a></strong>

			<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    	<div class="modal-dialog">
      	<div class="modal-content">
        	<!-- Modal Header -->
        	<div class="modal-header">
          	<h4 class="modal-title">RULES</h4>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	</div>
        <!-- Modal body -->
        	<div class="modal-body">
									<strong style="font-size:1vw">PRELIMS: </strong> <br />
									<ul style="font-size:1vw">
										<li>3 Participants per team.</li>
										<li>Only cam video and flash animations are allowed.</li>
										<li>Compiled video/animations should be provided in CDs (.avi,
										.MPEG, .flv), USB portable media storage device.</li>
										<li>Downloaded videos are not allowed.</li>
										<li>Duration of the videos should be maximum 3 mins.</li>
										<li>The topic will be announced on the website 48 hours prior
										to the event.</li>
        	</div>
      	</div>
    	</div>
  	</div>
		<br><br><br>

		<!-- Creative PHOTOGRAPY -->
		<strong><a data-toggle="modal" data-target="#exampleModalCenter5" style="font-family: fantasy;margin-left: 2vw;color:white;font-size:2vw">CREATIVE PHOTOGRAPY</a></strong>
		<img style="margin-left:1vw" src="../static/img/cphoto.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter5">

		<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">RULES</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
			<!-- Modal body -->
					<div class="modal-body">
							<p>
								<ul style="font-size:1vw">
									<li>Individual event.</li>
									<li>Only cam pictures should be produced in CDs
										(.jpg,.jpeg),USB portable media storage device.</li>
									<li>Downloaded photographs are not allowed.</li>
									<li>The topic will be announced on the website 48 hours prior
										to the event.</li>
									<li>The participants can produce only one photograph at the
										time of submission.</li>
									<li>Editing of photo is allowed. </li>
								</ul></p>
					</div>
				</div>
			</div>
		</div>
		<br><br><br>

		<!-- Pencil Sketch -->

		<img style="margin-left:1vw" src="../static/img/ps.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter6" >
		<strong><a data-toggle="modal" data-target="#exampleModalCenter6" style="font-family: fantasy;margin-left: 2vw;color:white;font-size:3vw">PENCIL SKETCH</a></strong>

			<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">RULES</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				<!-- Modal body -->
					<div class="modal-body">
									<ul style="font-size:1vw">
										<li>Individual event.</li>
										<li>Duration:  45 minutes.</li>
										<li>The topic will be given on the spot.</li>
										<li>Only chart paper and stationeries will be provided.</li>
										<li>Scissors and burning of papers prohibited.</li>
										<li>No other item will be provided.</li>
										<li>Participants will not be allowed to leave the hall during
										the event.</li>
									</ul>
					</div>
				</div>
			</div>
		</div>
		<br><br><br>

	</div>
	<br>
	<div class="text-center p-4">
		<a href="http://www.facebook.com/halcyon2019/" class="btn-floating btn-lg btn-fb" type="button" role="button">
			<i class="fab fa-facebook-f"></i>
		</a>
		<a href="http://www.instagram.com/halcyon_official" class="btn-floating btn-lg btn-ins" type="button" role="button">
			<i class="fab fa-instagram"></i>
		</a>
		<a href="https://www.youtube.com/channel/UC4YzLrCrvpSiceBk15w1y8A" class="btn-floating btn-lg btn-yt" type="button" role="button">
			<i class="fab fa-youtube fa-sm mr-2"></i>
		</a>
		<strong><p style="color:white">Copyright &copy; 1992-<span id="year"></span> HALCYON</p></strong>
	</div>

	<script src="//www.powr.io/powr.js?external-type=html"></script>
	<script
		src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"
	></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"
	></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
	<script type="text/javascript">
			$(window).scroll(function(e) {
		      var scroll = $(window).scrollTop();
		      if (scroll >= 150) {
		      		$('.navbar').addClass("navbar-hide");
		      } else {
		      		$('.navbar').removeClass("navbar-hide");
		      }
		    });
				$('#myModal').on('shown.bs.modal', function () {
			  $('#myInput').trigger('focus')
			});
	</script>
	<script>
			$(document).ready(function(){
			    function alignModal(){
			        var modalDialog = $(this).find(".modal-dialog");
			        /* Applying the top margin on modal dialog to align it vertically center */
			        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
			    }
			    // Align modal when it is displayed
			    $(".modal").on("shown.bs.modal", alignModal);
			    // Align modal when user resize the window
			    $(window).on("resize", function(){
			        $(".modal:visible").each(alignModal);
			    });
			});
</script>
<script>
			// Get the current year for the copyright
			$('#year').text(new Date().getFullYear());

			// Lightbox Init
			$(document).on('click', '[data-toggle="lightbox"]', function(event) {
				event.preventDefault();
				$(this).ekkoLightbox();
			});
		</script>
</body>
</html>
