<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
			integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
		/>
		<title>HALCYON 2k20</title>
		<link rel="icon" type="image/ico" href="../static/img/logo.png" />
	</head>
	<style media="screen">
			.navbar {
			opacity: 1;
			transition: opacity 0.5s ease;
			}
			.navbar-hide {
			pointer-events: none;
			opacity: 0;
			}
	</style>
	<body>
		<div id="up1">
			<nav class="navbar navbar-expand-sm fixed-top" style="margin-top:6vw"role="navigation">
				<button
							class="navbar-toggler"
							data-toggle="collapse"
							data-target=".navbar-collapse"
							>
							<span class="navbar-toggler-icon">
								<i class="fas fa-bars" style="margin-left: -8px;color:#000;"></i>
							</span>
				</button>
				<div class="collapse navbar-collapse " id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" style="color:black;font-size:20px" href="index.html"><b>Home</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:black;font-size:20px" href="genres.html"><b>Genres</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:black;font-size:20px" href="schedules.html"><b>Schedules</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:black;font-size:20px" href="aboutus.html"><b>About Us</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="margin-right:2vw;color:black;font-size:20px" href="contact.html"><b>Contact Us</b></a>
						</li>
					</ul>
				</div>
			</nav>
	</div>
		<!-- Button trigger modal -->
<div class="container">
	<div class="row">
		<div class="col">
			<!-- JAM -->
  <!-- Button to Open the Modal -->
		<div class="carousel item">
		<div class="view zoom">
			<img src="../static/img/jam.jpg" width="100%" height="100%" class="img-fluid img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter">
	        <a type="button" data-toggle="modal" data-target="#exampleModalCenter" class="position-absolute" style="top:67%;left:42%;color:white;font-size:2vw">JAM</a>
	   </div>
		</div>
		<br>
  <!-- The Modal -->
  	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    	<div class="modal-dialog">
      	<div class="modal-content">
        	<!-- Modal Header -->
        	<div class="modal-header">
          	<h4 class="modal-title">RULES</h4>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	</div>
        <!-- Modal body -->
        	<div class="modal-body">
									<strong style="font-size:1vw">PRELIMS: </strong> <br />
									<em style="font-size:1vw">
										He/ She would be objected for following reasons: (based on
										the following rounds)</em
									><br>
									<ul style="font-size:1vw">
										<li>Usage of slang, direct speech and abbreviations.</li>
										<li>Standard Formats are not to be used.</li>
										<li>Plagiarism or Redundancy.</li>
										<li>Deviation from the topic/time wasting tactics.</li>
										<li>Unnecessary stress on a word or letter.</li>
										<li>Obsession with words.</li>
										<li>Incoherence</li>
										<li>Dramatization.</li>
										<li>JAM master’s judgment is final and binding.</li>
									</ul>
									<br />
									<strong style="font-size:1vw">FINALS:</strong><br />
									<em style="font-size:1vw">
										He/ She would be objected for following reasons: (based
										on the rounds)</em
									>
									<br />
									<ul style="font-size:1vw">
										<li>Usage of slang, direct speech and abbreviations.</li>
										<li>Usage of standard formats.</li>
										<li>Plagiarism or Redundancy.</li>
										<li>Deviation from the topic/time wasting tactics.</li>
										<li>Unnecessary stress on a word/letter.</li>
										<li>Obsession with words.</li>
										<li>Incoherence.</li>
										<li>Dramatization.</li>
										<li>JAM master’s judgment is final and binding.</li>
									</ul>
        	</div>
      	</div>
    	</div>
  	</div>
	</div>
	<div class="col">
		<!--SpellBee -->
		<div class="carousel item">
			<img src="../static/img/spellbee.jpg" width="100%" height="100%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter1">
			<a type="button" data-toggle="modal" data-target="#exampleModalCenter1" class="position-absolute" style="top:50%;left:28%;color:white;font-size:2vw">SPELL BEE</a>
		</div>
		<br>
		<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">RULES</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
			<!-- Modal body -->
					<div class="modal-body">
							<p>
								<ul style="font-size:1vw">
									<li>1st round: written elimination round. </li>
									<li> 2nd round: verbal round.</li>
									<li> The meanings of various words will be given of demand.</li>
									<li> Decision of the judges is final and binding.</li>
								</ul></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<!-- 20Q -->
		<div class="row">
			<div class="col">
		<div class="carousel item">
			<img src="../static/img/lit.jpg" width="100%" height="100%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter2">
	        <a type="button" data-toggle="modal" data-target="#exampleModalCenter2" class="position-absolute" style="top:50%;left:42%;color:white;font-size:2vw">20Q</a>
	    </div>
		<br>
  <!-- The Modal -->
  	<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    	<div class="modal-dialog">
      	<div class="modal-content">
        	<!-- Modal Header -->
        	<div class="modal-header">
          	<h4 class="modal-title">RULES</h4>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	</div>
        <!-- Modal body -->
        	<div class="modal-body">
									<strong style="font-size:1vw">PRELIMS: </strong> <br />
									<ul style="font-size:1vw">
										<li>The team members will be separated in 2 different rooms
										and will be given a list of 20 items and a blank sheet of
										paper.</li>
										<li>The participants will have to write 3 clues for each of
										the items in their sheet and these clues shall be single
										word and proper nouns are NOT allowed. Time allotted for
										this is 20 min.</li>
										<li>After this, sheets are exchanged with their respective
										team mates, who then will have 10 minutes to guess the
										answers based on the clues given.</li>
										<li>They are allowed 3 guesses for every question.</li>
										<li>Violation of the above rules will lead to
										disqualification.</li>
										<li>Decision of the JUDGES is final and binding.</li>
										<br />
									</ul>
										<strong style="font-size:1vw">FINALS:</strong><br />
										<ul style="font-size:1vw">
											<li>Both the members of the team play this round together.</li>
											<li>Participants have to choose a category and a topic is
										given to them at random from the chosen category.</li>
											<li>One member of the team knows the topic while the other
										tries to guess it by asking a maximum of 20 questions.</li>
											<li>None of the questions can be asked directed towards any
										name or any part of the topic specifically.</li>
											<li>The time limit for asking questions and guessing the topic
										is 4 minute.</li>
											<li>Violation of the above rules will lead to
										disqualification.</li>
											<li>Decision of the JUDGES is final and binding.</li>
									</ul>
        	</div>
      	</div>
    	</div>
  	</div>
	</div>
		<!-- DC-->
		<div class="col">
		<div class="carousel item">
			<img src="../static/img/lit.jpg" width="100%" height="100%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter3">
			<a type="button" data-toggle="modal" data-target="#exampleModalCenter3" class="position-absolute" style="top:50%;left:22%;color:white;font-size:2vw">	DUMB CHARADES</a>
		</div>
		<br>
		<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">RULES</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
			<!-- Modal body -->
					<div class="modal-body">
							<p>
								<ul style="font-size:1vw">
									<li>3 teams per college.<br>
									3 members per team.</li>
									<li>Each member of the team needs to enact at least once in a
										round.</li>
									<li>General DC rules apply, for e.g.: no lettering, no
										phonetics (Phonetics can be used in certain rounds only)
										etc.</li>
									<li>The top teams will qualify for the finals depending upon
										the time constraints and no. of participants.(Specifications
										of various rounds will be announced at the time of the
										event).</li>
									<li>The decision of the DC master is final.</li>
								</ul></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<!-- DEBATE -->
		<div class="row">
			<div class="col">
		<!-- Button to Open the Modal -->
		<div class="carousel item">
			<img src="../static/img/lit.jpg" width="100%" height="100%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter4">
					<a type="button" data-toggle="modal" data-target="#exampleModalCenter4" class="position-absolute" style="top:50%;left:32%;color:white;font-size:2vw">DEBATE</a>
			</div>
			<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    	<div class="modal-dialog">
      	<div class="modal-content">
        	<!-- Modal Header -->
        	<div class="modal-header">
          	<h4 class="modal-title">RULES</h4>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	</div>
        <!-- Modal body -->
        	<div class="modal-body">
									<strong style="font-size:1vw">PRELIMS: </strong> <br />
									<ul style="font-size:1vw">
										<li>3 teams per college with 2 members each.</li>
										<li>The topic for the debate will be announced 24 hours prior
										to the event.</li>
										<li>One participant speaks for the topic and one against.</li>
										<li>Each participant is given max time of 5 min.</li>
										<li>Judging will be based on the overall team performance.</li>
										<li>Usage of abusive language or comments made against any
										caste, creed, sex or religion is grounded for
										disqualification.</li>
										<li>The participants will be judged on various aspects such as
										depth of speech, relevance to the topic and knowledge of the
										topic.</li>
										<li>Decision of the JUDGES is final and binding.</li>
        	</div>
      	</div>
    	</div>
  	</div>
	</div>
	<div class="col">
		<!-- Creative Writing -->
		<div class="carousel item">
			<img src="../static/img/lit.jpg" width="100%" height="100%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter5">
			<a type="button" data-toggle="modal" data-target="#exampleModalCenter5" class="position-absolute" style="top:50%;left:17%;color:white;font-size:2vw">CREATIVE WRITING</a>
		</div>
		<br>
		<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">RULES</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
			<!-- Modal body -->
					<div class="modal-body">
							<p>
								<ul style="font-size:1vw">
									<li>Time limit: 75 min.</li>
									<li>Word limit: 1000 words.</li>
									<li>Subject: Topic will be given on the spot.</li>
									<li>Decision of the judges will be final.</li>
								</ul></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<!-- BFT -->
		<div class="row">
			<div class="col">
		<!-- Button to Open the Modal -->
		<div class="carousel item">
			<img src="../static/img/lit.jpg" width="100%" height="100%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter6">
					<a type="button" data-toggle="modal" data-target="#exampleModalCenter6" class="position-absolute" style="top:50%;left:42%;color:white;font-size:2vw">BFT</a>
			</div>
			<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">RULES</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				<!-- Modal body -->
					<div class="modal-body">
									<ul style="font-size:1vw">
										<li>Text of 160 characters will be read out to the blind
										folded participants, who have to type it in their own
										phones.</li>
										<li>Participants with most accurate text wins.</li>
										<li>T9 or predictive text is allowed.</li>
										<li>No restriction on phone used. </li>
									</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="carousel item">
			<img src="../static/img/lit.jpg" width="100%" height="100%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter7">
					<a type="button" data-toggle="modal" data-target="#exampleModalCenter7" class="position-absolute" style="top:50%;left:22%;color:white;font-size:2vw">RADIO-ACTIVE</a>
			</div>
			<!-- The Modal -->
		<div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">RULES</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				<!-- Modal body -->
					<div class="modal-body">
							<strong style="font-size:1vw">Prelims</strong>
									<ul style="font-size:1vw">
										<li>2 members per team.</li>
										<li>Participants will have to speak for 4 minutes as a radio jockey.</li>
										<li>Topic will be given on the spot and preparation time will be given.</li>
										<li>Further details shall be conveyed to participants later.</li>
									</ul>
							<strong style="font-size:1vw">Finals</strong>
									<ul style="font-size:1vw">
										<li>Participants shall be asked to speak for 4 minutes as a radio jockey in between 2 audio tracks.</li>
										<li>These tracks shall be given to the participants for a brief period just before their performance.</li>
									</ul>
							<strong style="font-size:1vw">General Rules</strong>
									<ul style="font-size:1vw">
										<li>The medium of communication should be English.</li>
										<li>The decision of the judges will be final and binding.</li>
									</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- Poetry Slam -->
	<br>
<div class="carousel item">
	<img src="../static/img/lit.jpg" style="margin-left:30%" width="50%" height="50%" class="img-thumbnail position-relative" data-toggle="modal" data-target="#exampleModalCenter8">
			<a type="button" data-toggle="modal" data-target="#exampleModalCenter8" class="position-absolute" style="top:50%;left:42%;color:white;font-size:2vw">POETRY-SLAM</a>
	</div>
	<!-- The Modal -->
<div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">RULES</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
		<!-- Modal body -->
			<div class="modal-body">
					<strong style="font-size:1vw">Prelims</strong>
							<ul style="font-size:1vw">
								<li>Open Event.</li>
								<li>Language : English </li>
								<li>Subject :  Word(s) or a picture(s) will be provided.</li>
								<li>Each participant has to portray his/her poem based on the given subject.</li>
								<li>Poems can be of any style.</li>
								<li>The work of each poet has to be original and no plagiarism shall be accepted.</li>
								<li>No musical instruments or pre-recorded music can be used.</li>
								<li>Time Limit:
								 		Preparation- 20minutes & Recitation- 5mins</li>
								<li>Judge’s decision shall be final and binding.</li>
							</ul>
					<strong style="font-size:1vw">Five Minute Rule:</strong>
							<p style="font-size:1vw">The performer is allowed to have a 10 second grace period. After 10seconds. 0.5 points are deducted from the overall score for every part of 10seconds overtime.</p>
			</div>
		</div>
	</div>
</div>
</div>



	<script src="//www.powr.io/powr.js?external-type=html"></script>
	<script
		src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"
	></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"
	></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
	<script type="text/javascript">
			$(window).scroll(function(e) {
		      var scroll = $(window).scrollTop();
		      if (scroll >= 150) {
		      		$('.navbar').addClass("navbar-hide");
		      } else {
		      		$('.navbar').removeClass("navbar-hide");
		      }
		    });
				$('#myModal').on('shown.bs.modal', function () {
			  $('#myInput').trigger('focus')
			});
	</script>
	<script>
			$(document).ready(function(){
			    function alignModal(){
			        var modalDialog = $(this).find(".modal-dialog");
			        /* Applying the top margin on modal dialog to align it vertically center */
			        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
			    }
			    // Align modal when it is displayed
			    $(".modal").on("shown.bs.modal", alignModal);
			    // Align modal when user resize the window
			    $(window).on("resize", function(){
			        $(".modal:visible").each(alignModal);
			    });
			});
</script>
</body>
</html>
