<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
			integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
		/>
		<title>HALCYON 2k20</title>
		<link rel="icon" type="image/ico" href="../static/img/logo.png" />
	</head>
	<style media="screen">
		.navbar {
		opacity: 1;
		transition: opacity 0.5s ease;
		}
		.navbar-hide {
		pointer-events: none;
		opacity: 0;
		}
		body {
			background: url('../static/img/musicbg.jpg');
			background-size: 100%;
		}
	</style>
	<body>
		<div id="up1">
			<nav class="navbar navbar-expand-sm fixed-top" style="margin-top:6vw" role="navigation">
				<button
							class="navbar-toggler"
							data-toggle="collapse"
							data-target=".navbar-collapse"
							>
							<span class="navbar-toggler-icon">
								<i class="fas fa-bars" style="margin-left: -8px;color:#fff;"></i>
							</span>
				</button>
				<div class="collapse navbar-collapse " id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="index.html"><b>Home</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="genres.html"><b>Genres</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="schedules.html"><b>Schedules</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="aboutus.html"><b>About Us</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="margin-right:2vw;color:white;font-size:2vw" href="contact.html"><b>Contact Us</b></a>
						</li>
					</ul>
				</div>
			</nav>
	</div>

		<img class="img-responsive" style="margin-left:8vw" width="11%" height="auto" src="../static/img/logo strokes.png" alt="Halcyon">


		<!-- Button trigger modal -->
		<div class="container">

			<!-- Light Indian vocal solo-->
			<img style="margin-left:1vw" src="../static/img/bands.jpg" width="45%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter">
			<strong><a data-toggle="modal" data-target="#exampleModalCenter" style="font-family: fantasy;margin-left: 6vw;color:white;font-size:3vw">Battle Of Bands</a></strong>
  <!-- The Modal -->
	  	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	    	<div class="modal-dialog">
	      	<div class="modal-content">
	        	<!-- Modal Header -->
	        	<div class="modal-header">
	          	<h4 class="modal-title">RULES</h4>
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        	</div>
	        <!-- Modal body -->
	        	<div class="modal-body">
										<ul style="font-size:1vw">
											<li>Maximum of Three Bands per College.</li>
											<li>Maximum of 7 participants per band.</li>
											<li>Cross college teams are not allowed.</li>
											<li>Songs performed by the band can be in any language.</li>
											<li>Time given is 20 minutes. That includes the time taken for
												sound check, performance and set up.</li>
											<li>Bands have to bring their own equipment (apart from the
												ones mentioned below).</li>
											<li>Drumset with double bass pedal.</li>
											<li>Adequate microphones.</li>
											<li>You can bring your own cymbals and chokes.</li>
											<li>Special effects, karaoke and programmed music is not
												allowed .</li>
											<li>Judges decision is final and binding.</li>
											<li>Violation of any rule will lead to disqualification.</li>
										</ul>
	        	</div>
	      	</div>
	    	</div>
	  	</div>
			<br><br><br>

		<!--Duet Singing-->
			<strong><a data-toggle="modal" data-target="#exampleModalCenter1" style="font-family: fantasy;margin-left:3vw;;color:white;font-size:3vw">Duet Singing</a></strong>
			<img style="margin-left:2vw" src="../static/img/duetsinging.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter1">

		<!-- The Modal -->
			<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">RULES</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
				<!-- Modal body -->
						<div class="modal-body">
								<p>
									<ul style="font-size:1vw">
										<li>2 members per team.</li>
										<li>3 teams per college are allowed.</li>
										<li>No gender restriction on team constitution.</li>
										<li>Karaoke or 2 accompanists are allowed.</li>
										<li>Duration of performance 4+1 min.</li>
										<li>Judgement will be based solely on vocals.</li>
										<li>Violation of any rule will lead to disqualification.</li>
									</ul></p>
						</div>
					</div>
				</div>
			</div>
			<br><br><br>

		<!-- instrumental solo -->
			<img style="margin-left:1vw" src="../static/img/isolo.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter2">
			<strong><a data-toggle="modal" data-target="#exampleModalCenter2" style="font-family: fantasy;margin-left:1vw;color:white;font-size:3vw">Instrumental Solo</a></strong>
  <!-- The Modal -->
	  	<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	    	<div class="modal-dialog">
	      	<div class="modal-content">
	        	<!-- Modal Header -->
	        	<div class="modal-header">
	          	<h4 class="modal-title">RULES</h4>
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        	</div>
	        <!-- Modal body -->
	        	<div class="modal-body">
										<ul style="font-size:1vw">
											<li>Individual(Solo) event.</li>
											<li>No recorded music is allowed.</li>
											<li>Shruti boxes, Nagma boxes and Taalmala allowed.</li>
											<li>Time limit: 5+1 minutes.</li>
											<li>Violation of any rule will lead to disqualification.</li>
										</ul>
	        	</div>
	      	</div>
	    	</div>
	  	</div>
			<br><br><br>

		<!-- Classical solo-->
			<strong><a data-toggle="modal" data-target="#exampleModalCenter3" style="font-family: fantasy;margin-left: 2vw;color:white;font-size:3vw">	Classical Solo</a></strong>
			<img style="margin-left:2vw" src="../static/img/csolo.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter3">
		<!-- The Modal -->
			<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">RULES</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
				<!-- Modal body -->
						<div class="modal-body">
								<p>
									<ul style="font-size:1vw">
										<li>One classical piece to be chosen.</li>
									  <li>Participant has to mention raga and taala.</li>
										<li>No recorded music is allowed.</li>
									  <li>Shruti boxes allowed.</li>
										<li>Time limit: 8+1 minutes.</li>
										<li>Violation of any rule will lead to disqualification.</li>
									</ul></p>
						</div>
					</div>
				</div>
			</div>
			<br><br><br>

		<!--Western Vocal Solo-->
			<img style="margin-left:2vw" src="../static/img/wvsolo.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter4">
			<strong><a data-toggle="modal" data-target="#exampleModalCenter4" style="font-family: fantasy;margin-left:2vw;color:white;font-size:2vw">Western Vocal Solo</a><strong>
			<!-- The Modal -->
			<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	    	<div class="modal-dialog">
	      	<div class="modal-content">
	        	<!-- Modal Header -->
	        	<div class="modal-header">
	          	<h4 class="modal-title">RULES</h4>
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        	</div>
	        <!-- Modal body -->
	        	<div class="modal-body">
							<p>
							<ul style="font-size:1vw">
								<li>3 Participants per college.</li>
							  <li>Karaoke or 2 accompanists are allowed.</li>
							  <li>Time limit 4+1minutes.</li>
								<li>Violation of any rule will lead to disqualification.</li>
							</ul></p>
	        	</div>
	      	</div>
	    	</div>
	  	</div>
			<br><br><br>

		<!-- Battle Of Bands -->
			<strong><a data-toggle="modal" data-target="#exampleModalCenter5" style="font-family: fantasy;margin-left: 1vw;color:white;font-size:2vw">Light Indian Vocal Solo</a></strong>
			<img style="margin-left:1vw" src="../static/img/vsolo.jpg" width="45%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter5">
		<!-- The Modal -->
			<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">RULES</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
				<!-- Modal body -->
						<div class="modal-body">
								<p>
									<ul style="font-size:1vw">
										<li>3 Participants per college.</li>
										<li>Karaoke or 2 accompanists are allowed.</li>
										<li>Time limit 4+1 min.</li>
										<li>Violation of any rule will lead to disqualification.</li>
									</ul></p>
						</div>
					</div>
				</div>
			</div>
			<br><br><br>

		<!--Solo BeatBoxing -->
			<img style="margin-left:2vw" src="../static/img/beat.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter6">
			<strong><a data-toggle="modal" data-target="#exampleModalCenter6" style="font-family: fantasy;margin-left:2vw;color:white;font-size:2vw">Solo BeatBoxing </a></strong>
			<!-- The Modal -->
			<div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">RULES</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
					<!-- Modal body -->
						<div class="modal-body">
										<ul style="font-size:1vw">
	                  <li>It is a 2 stage competition, elimination and finals.</li>
										<li>It is an open event.</li>
										<li>In elimination each participant has to show vocal
											percussion skills infront of the judges.</li>
									  <li>In finals qualified participants must battle face to face
											on stage.</li>
										<li>In final battle two microphones will be provided with same
											consistent sound level.</li>
										<li>No instruments are allowed.</li>
							      <li>Judges decision will be based on originality and
											techniques.</li>
										<li>Time limit in elimination round is 3 minutes and final
											round will be decided on spot.</li>
										<li>Halcyon committee reserves the right to make any last
											minute changes in the rules.</li>
										<li>Judges decision is final and binding.</li>
										</ul>
						</div>
					</div>
				</div>
			</div>
			<br><br><br>

			<!-- footer -->
			<br><br>
			<div class="text-center p-4">
				<a href="http://www.facebook.com/halcyon2019/" class="btn-floating btn-lg btn-fb" type="button" role="button">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="http://www.instagram.com/halcyon_official" class="btn-floating btn-lg btn-ins" type="button" role="button">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="https://www.youtube.com/channel/UC4YzLrCrvpSiceBk15w1y8A" class="btn-floating btn-lg btn-yt" type="button" role="button">
					<i class="fab fa-youtube fa-sm mr-2"></i>
				</a>
				<p style="color:white">Copyright &copy; 1992-<span id="year"></span> HALCYON</p>
			</div>
	<script src="//www.powr.io/powr.js?external-type=html"></script>
	<script
		src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"
	></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"
	></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
	<script type="text/javascript">
			$(window).scroll(function(e) {
		      var scroll = $(window).scrollTop();
		      if (scroll >= 150) {
		      		$('.navbar').addClass("navbar-hide");
		      } else {
		      		$('.navbar').removeClass("navbar-hide");
		      }
		    });
				$('#myModal').on('shown.bs.modal', function () {
			  $('#myInput').trigger('focus')
			});
	</script>
	<script>
			$(document).ready(function(){
			    function alignModal(){
			        var modalDialog = $(this).find(".modal-dialog");
			        /* Applying the top margin on modal dialog to align it vertically center */
			        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
			    }
			    // Align modal when it is displayed
			    $(".modal").on("shown.bs.modal", alignModal);
			    // Align modal when user resize the window
			    $(window).on("resize", function(){
			        $(".modal:visible").each(alignModal);
			    });
			});
</script>
<script>
			// Get the current year for the copyright
			$('#year').text(new Date().getFullYear());

			// Lightbox Init
			$(document).on('click', '[data-toggle="lightbox"]', function(event) {
				event.preventDefault();
				$(this).ekkoLightbox();
			});
		</script>
</body>
</html>
