<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
			integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
		/>
		<title>HALCYON 2k20</title>
		<link rel="icon" type="image/ico" href="../static/img/logo.png" />
	</head>
	<style media="screen">
	.navbar {
	opacity: 1;
	transition: opacity 0.5s ease;
	}
	.navbar-hide {
	pointer-events: none;
	opacity: 0;
	}
	body {
		background: url('../static/img/bg.jpg');
		background-size: 100%;
	}
	</style>
  <body>
		<div id="up1">
			<nav class="navbar navbar-expand-sm fixed-top" style="margin-top:6vw" role="navigation">
				<button
							class="navbar-toggler"
							data-toggle="collapse"
							data-target=".navbar-collapse"
							>
							<span class="navbar-toggler-icon">
								<i class="fas fa-bars" style="margin-left: -8px;color:#fff;"></i>
							</span>
				</button>
				<div class="collapse navbar-collapse " id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="index.html"><b>Home</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="genres.html"><b>Genres</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="schedules.html"><b>Schedules</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="aboutus.html"><b>About Us</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="margin-right:2vw;color:white;font-size:2vw" href="contact.html"><b>Contact Us</b></a>
						</li>
					</ul>
				</div>
			</nav>
	   </div>
	    <img class="img-responsive" style="margin-left:8vw" width="11%" height="auto" src="../static/img/logo strokes.png" alt="Halcyon">
	     <br><br>
    <div class="container">
      </<strong><p style="text-align:center;font-size:4vw;color:white">DAY 1 (27 st February 2020)</p></strong>
      <table class="table table-bordered table-dark table-hover" style="font-size:1vw;text-align:center;color:white">
      <thead>
        <tr>
          <th scope="col">Event</th>
          <th scope="col">Venue</th>
          <th scope="col">Slot</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>FACE PAINTING</td>
          <td>BIRLA AUDITORIUM</td>
          <td>11:00 AM</td>
        </tr>
        <tr>
          <td>ANTI CHESS</td>
          <td>ARCHI DEPT</td>
          <td>1:30 PM</td>

        </tr>
        <tr>
          <td>CREATIVE WRITING</td>
          <td>GJCB SEMINAR HALL</td>
          <td>1:30 PM</td>
        </tr>
        <tr>
          <td>NFS</td>
          <td>CSE DEPT</td>
          <td>2:00 PM</td>
        </tr>
        <tr>
          <td>LIGHT INDIAN VOCAL SOLO</td>
          <td>BIRLA AUDITORIUM</td>
          <td>2:00 PM</td>
        </tr>
        <tr>
          <td>STAND UP COMEDY</td>
          <td>AD BLOCK SEM HALL</td>
          <td>2:00 PM</td>
        </tr>
        <tr>
          <td>SPELL BEE (PRELIMS)</td>
          <td>CHEMICAL DEPT</td>
          <td>2:15 PM</td>
        </tr>
        <tr>
          <td>CHARADEOUS BATTLE</td>
          <td>CHEMICAL DEPT</td>
          <td>2:30 PM</td>
        </tr>
        <tr>
          <td>CLAY MODELLING</td>
          <td>MECH DEPT</td>
          <td>3:00 PM</td>
        </tr>
        <tr>
          <td>POETRY SLAM</td>
          <td>GJCB SEMINAR HALL</td>
          <td>3:15 PM</td>
        </tr>
        <tr>
          <td>STREET PLAY</td>
          <td>BASKETBALL COURT</td>
          <td>3:15 PM</td>
        </tr>
        <tr>
          <td>WESTERN VOCAL SOLO</td>
          <td>BIRLA AUDITORIUM</td>
          <td>3:30 PM</td>
        </tr>
        <tr>
          <td>SPELL BEE (FINALS)</td>
          <td>CHEMICAL DEPT</td>
          <td>4:00 PM</td>
        </tr>
        <tr>
          <td>DUET DANCE</td>
          <td>OPEN STAGE</td>
          <td>6:00 PM</td>
        </tr>
        <tr>
          <td>BATTLE OF BANDS</td>
          <td>OPEN STAGE</td>
          <td>7:00 PM</td>
        </tr>
      </tbody>
    </table>
    <br><br>
    </<strong><p style="text-align:center;font-size:4vw;color:white">DAY 2 (28 th February 2020)</p></strong>
    <table class="table table-bordered table-dark table-hover" style="font-size:1vw;text-align:center;color:white">
    <thead>
      <tr>
        <th scope="col">Event</th>
        <th scope="col">Venue</th>
        <th scope="col">Slot</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>20Q(PRELIMS)</td>
        <td>CHEMICAL DEPT</td>
        <td>11:15 AM</td>
      </tr>
      <tr>
        <td>COLLAGE</td>
        <td>ARCHI DEPT</td>
        <td>11:30 AM</td>
      </tr>
      <tr>
        <td>SKIT</td>
        <td>BIRLA AUDITORIUM</td>
        <td>11:30 AM</td>
      </tr>
      <tr>
        <td>COUNTER STRIKE</td>
        <td>ARCHI DEPT</td>
        <td>12:00 PM</td>
      </tr>
      <tr>
        <td>QUIZ (PRELIMS)</td>
        <td>CHEMICAL DEPT</td>
        <td>12:00 PM</td>
      </tr>
      <tr>
        <td>RADIO ACTIVE</td>
        <td>CHEMICAL DEPT</td>
        <td>1:00 PM</td>
      </tr>
      <tr>
        <td>DEBATE</td>
        <td>GJCB SEMINAR HALL</td>
        <td>1:30 PM</td>
      </tr>
      <tr>
        <td>DUET SINGING</td>
        <td>BIRLA AUDITORIUM</td>
        <td>2:00 PM</td>
      </tr>
      <tr>
        <td>20Q (FINALS)</td>
        <td>CHEMICAL DEPT</td>
        <td>2:30 PM</td>
      </tr>
      <tr>
        <td>INSTRUMENTAL SOLO</td>
        <td>BIRLA AUDITORIUM</td>
        <td>3:00 PM</td>
      </tr>
      <tr>
        <td>INSTALLATION</td>
        <td>ARCHI DEPT</td>
        <td>3:00 PM</td>
      </tr>
      <tr>
        <td>QUIZ (FINALS)</td>
        <td>BCHEMICAL DEPT</td>
        <td>3:00 PM</td>
      </tr>
      <tr>
        <td>WESTERN SOLO DANCE</td>
        <td>BIRLA AUDITORIUM</td>
        <td>4:00 PM</td>
      </tr>
      <tr>
        <td>CLASSICAL SOLO DANCE</td>
        <td>BIRLA AUDITORIUM</td>
        <td>5:00 PM</td>
      </tr>
      <tr>
        <td>INDIAN ETHNIC SHOW</td>
        <td>OPEN STAGE</td>
        <td>6:00 PM</td>
      </tr>
      <tr>
        <td>CHOREOGRAPHY</td>
        <td>OPEN STAGE</td>
        <td>7:00 PM</td>
      </tr>
    </tbody>
  </table>

  </<strong><p style="text-align:center;font-size:4vw;color:white">DAY 3 (29 th February 2020)</p></strong>
  <table class="table table-bordered table-dark table-hover" style="font-size:1vw;text-align:center;color:white">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Venue</th>
      <th scope="col">Slot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MIME</td>
      <td>BIRLA AUDITORIUM</td>
      <td>10:00 AM</td>
    </tr>
    <tr>
      <td>CHESS</td>
      <td>ARCHI DEPT</td>
      <td>11:00 AM</td>
    </tr>
    <tr>
      <td>CREATIVE PHOTOGRAPHY</td>
      <td>AD SEMINAR HALL</td>
      <td>11:00 AM</td>
    </tr>
    <tr>
      <td>BEATBOXING SOLO</td>
      <td>BASKETBALL COURT</td>
      <td>11:00 AM</td>
    </tr>
    <tr>
      <td>JAM(PRELIMS)</td>
      <td>CHEMICAL DEPT</td>
      <td>11:15 AM</td>
    </tr>
    <tr>
      <td>60 SECONDS TO FAME</td>
      <td>BIRLA AUDITORIUM</td>
      <td>11:30 AM</td>
    </tr>
    <tr>
      <td>70MM</td>
      <td>AD SEMINAR HALL</td>
      <td>12:00 PM</td>
    </tr>
    <tr>
      <td>BLIND FOLD TEXTING</td>
      <td>CHEMICAL DEPT</td>
      <td>1:45 PM</td>
    </tr>
    <tr>
      <td>CLASSICAL VOCAL SOLO)</td>
      <td>BIRLA AUDITORIUM</td>
      <td>2:00 PM</td>
    </tr>
    <tr>
      <td>PENCIL SKETCH</td>
      <td>ARCHI DEPT</td>
      <td>2:30 PM</td>
    </tr>
    <tr>
      <td>JAM(FINALS)</td>
      <td>CHEMICAL DEPT</td>
      <td>2:30 PM</td>
    </tr>
  </tbody>
</table>
      <!-- FOOTER -->
      <div class="text-center p-4">
      <!--Facebook-->
        <a href="http://www.facebook.com/halcyon2019/" class="btn-floating btn-lg btn-fb" type="button" role="button">
        <i class="fab fa-facebook-f"></i>
        </a>
        <!--Instagram-->
        <a href="http://www.instagram.com/halcyon_official" class="btn-floating btn-lg btn-ins" type="button" role="button">
        <i class="fab fa-instagram"></i>
        </a>
        <!--Youtube-->
        <a href="https://www.youtube.com/channel/UC4YzLrCrvpSiceBk15w1y8A" class="btn-floating btn-lg btn-yt" type="button" role="button">
        <i class="fab fa-youtube fa-sm mr-2"></i>
        </a>
        <strong><p style="color:white">Copyright &copy; 1992-<span id="year"></span> HALCYON</p></strong>
      </div>
    </div>
  <script src="//www.powr.io/powr.js?external-type=html"></script>
  <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  <script type="text/javascript">
		$(window).scroll(function(e) {
		    // add/remove class to navbar when scrolling to hide/show
		var scroll = $(window).scrollTop();
		if (scroll >= 150) {
		    $('.navbar').addClass("navbar-hide");
		} else {
		    $('.navbar').removeClass("navbar-hide");
		}

		});
  </script>
	<script>
			// Get the current year for the copyright
			$('#year').text(new Date().getFullYear());

			// Lightbox Init
			$(document).on('click', '[data-toggle="lightbox"]', function(event) {
				event.preventDefault();
				$(this).ekkoLightbox();
			});
		</script>
    </body>
</html>
