<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
			integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
		/>
		<title>HALCYON 2k20</title>
		<link rel="icon" type="image/ico" href="../static/img/logo.png" />
	</head>
	<style media="screen">
		.navbar {
		opacity: 1;
		transition: opacity 0.5s ease;
		}
		.navbar-hide {
		pointer-events: none;
		opacity: 0;
		}
		body {
			background: url('../static/img/theaterbg.jpg');
			background-size: 100%;
		}
	</style>
	<body>
		<div id="up1">
			<nav class="navbar navbar-expand-sm fixed-top" style="margin-top:6vw" role="navigation">
				<button
							class="navbar-toggler"
							data-toggle="collapse"
							data-target=".navbar-collapse"
							>
							<span class="navbar-toggler-icon">
								<i class="fas fa-bars" style="margin-left: -8px;color:#fff;"></i>
							</span>
				</button>
				<div class="collapse navbar-collapse " id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="index.html"><b>Home</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="genres.html"><b>Genres</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="schedules.html"><b>Schedules</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:white;font-size:2vw" href="aboutus.html"><b>About Us</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="margin-right:2vw;color:white;font-size:2vw" href="contact.html"><b>Contact Us</b></a>
						</li>
					</ul>
				</div>
			</nav>
	</div>

		<img class="img-responsive" style="margin-left:8vw" width="11%" height="auto" src="../static/img/logo strokes.png" alt="Halcyon">

		<!-- Button trigger modal -->
		<div class="container">

			<!-- INDIAN ETHNIC SHOW-->
			<img style="margin-left:2vw;" src="../static/img/ethnicshow.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter">
			<strong><a data-toggle="modal" data-target="#exampleModalCenter" style="font-family: fantasy;margin-left:2vw;color:white;font-size:2vw">INDIAN ETHNIC SHOW</a></strong>
  		<!-- The Modal -->
	  	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	    	<div class="modal-dialog">
	      	<div class="modal-content">
	        	<!-- Modal Header -->
	        	<div class="modal-header">
	          	<h4 class="modal-title">RULES</h4>
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        	</div>
	        <!-- Modal body -->
	        	<div class="modal-body">
										<ul style="font-size:1vw">
											<li>2 Teams Per College.</li>
											<li>A team should consist only of Boys or Girls only.</li>
											<li>Minimum 4 Participants and Maximum 8 Participants.</li>
											<li>Karaoke is allowed.</li>
											<li>Time limit : 6+1 minutes.</li>
											<li>Teams have to submit the photos/videos of their
											performance a week before the event.</li>
											<li>Decision of Judges is final & binding.</li>
											<li>Dress code of participants should be Strictly Indian &
											should not involve any kind of vulgarity.</li>
										</ul>
	        	</div>
	      	</div>
	    	</div>
	  	</div>
			<br><br><br>

		<!--Street Play-->
			<strong><a data-toggle="modal" data-target="#exampleModalCenter1" style="font-family: fantasy;margin-left:2vw;color:white;font-size:4vw">STREET PLAY</a></strong>
			<img style="margin-left:2vw;" src="../static/img/streetplay.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter1">
		<!-- The Modal -->
			<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">RULES</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
				<!-- Modal body -->
						<div class="modal-body">
									<ul style="font-size:1vw">
										<li>Minimum 8 and maximum 15 participants per team.</li>
										<li>Props are allowed.</li>
										<li>The play should be for a social cause.</li>
										<li>Music instruments are allowed.</li>
										<li>Time limit: 12+3 minutes.</li>
									</ul>
						</div>
					</div>
				</div>
			</div>
			<br><br><br>

		<!-- Stand-Up Comedy-->
			<img style="margin-left:4vw;" src="../static/img/comedy.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter2">
			<strong><a type="button" data-toggle="modal" data-target="#exampleModalCenter2" style="font-family: fantasy;margin-left: 4vw;color:white;font-size:3vw">Standup Comedy</a></strong>
  	<!-- The Modal -->
	  	<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	    	<div class="modal-dialog">
	      	<div class="modal-content">
	        	<!-- Modal Header -->
	        	<div class="modal-header">
	          	<h4 class="modal-title">RULES</h4>
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        	</div>
	        <!-- Modal body -->
	        	<div class="modal-body">
										<strong style="font-size:1vw">PRELIMS: </strong> <br />
										<ul style="font-size:1vw">
											<li>Individual event.</li>
											<li>No vulgarity is allowed.</li>
											<li>Script should be submitted 10 min beforehand for
											verification.</li>
											<li>Time allowed is 3+2 min.</li>
										</ul>
	        	</div>
	      	</div>
	    	</div>
	  	</div>
			<br><br><br>

		<!-- Skit -->
			<strong><a data-toggle="modal" data-target="#exampleModalCenter3" style="font-family: fantasy;margin-left: 12vw;color:white;font-size:4vw">Skit</a></strong>
			<img style="margin-left:10vw" src="../static/img/skit.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter3">
		<!-- The Modal -->
			<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">RULES</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
				<!-- Modal body -->
						<div class="modal-body">
								<p>
									<ul style="font-size:1vw">
										<li>Minimum of 6 and maximum 15 people including narrator and
											accompanist (if any) allowed.</li>
										<li>Duration of skit 10+2 minutes. A warning bell will be
											sounded after minimum time and a long bell after 12
											minutes.</li>
										<li>Marks will be deducted for exceeding the time limit.</li>
										<li>Negative marks for vulgarity (usage of obscenities,
											obscene action and depictions).</li>
										<li>The skit performance should not be part of any movie or
											television series.</li>
										<li>Extra marks for innovative approach and humour (usage of
											props and costumes are allowed).</li>
										<li>Innovative themes and moral gists attract better
											points.</li>
										<li>The decision of the JUDGES is final and binding on
											participants.</li>
									</ul></p>
						</div>
					</div>
				</div>
			</div>
			<br><br><br>

		<!--60 Seconds of fame-->
			<img style="margin-left:2vw;" src="../static/img/fame.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter4">
			<strong><a data-toggle="modal" data-target="#exampleModalCenter4" style="font-family: fantasy;margin-left: 10vw;color:white;font-size:2vw">60 Seconds of Fame</a></strong>
			<!-- The Modal -->
			<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	    	<div class="modal-dialog">
	      	<div class="modal-content">
	        	<!-- Modal Header -->
	        	<div class="modal-header">
	          	<h4 class="modal-title">RULES</h4>
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        	</div>
	        <!-- Modal body -->
	        	<div class="modal-body">
										<ul style="font-size:1vw">
											<li>Open Event.</li>
											<li>Maximum of 2 participants per team.</li>
											<li>Judgment is based on creativity, innovation and
											uniqueness.</li>
											<li>The act can be dance, singing, \mimicry, magic, comical
											etc. as long as it is not obscene.</li>
											<li>Props and costumes are allowed.</li>
											<li>Time limit given is 60 seconds.</li>
											<li>Decision of the JUDGES is the final.</li>
										</ul>
	        	</div>
	      	</div>
	    	</div>
	  	</div>
			<br><br><br>

		<!-- Mime -->
			<strong><a data-toggle="modal" data-target="#exampleModalCenter5" style="font-family: fantasy;margin-left: 12vw;color:white;font-size:4vw">Mime</a></strong>
			<img style="margin-left:10vw" src="../static/img/mime.jpg" width="55%" height="auto" class="img-thumbnail" data-toggle="modal" data-target="#exampleModalCenter5">
		<!-- The Modal -->
			<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">RULES</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
				<!-- Modal body -->
						<div class="modal-body">
									<ul style="font-size:1vw">
										<li>Open Event.</li>
										<li>6 participants per team.</li>
										<li>2 accompanists are allowed.</li>
										<li>Background music is allowed.</li>
										<li>Time limit 4+2 min.</li>
									</ul>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- footer -->
			<br><br>
			<div class="text-center p-4">
				<a href="http://www.facebook.com/halcyon2019/" class="btn-floating btn-lg btn-fb" type="button" role="button">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="http://www.instagram.com/halcyon_official" class="btn-floating btn-lg btn-ins" type="button" role="button">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="https://www.youtube.com/channel/UC4YzLrCrvpSiceBk15w1y8A" class="btn-floating btn-lg btn-yt" type="button" role="button">
					<i class="fab fa-youtube fa-sm mr-2"></i>
				</a>
				<p style="color:white">Copyright &copy; 1992-<span id="year"></span> HALCYON</p>
			</div>
			<script src="//www.powr.io/powr.js?external-type=html"></script>
			<script
				src="http://code.jquery.com/jquery-3.3.1.min.js"
				integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
				crossorigin="anonymous"
			></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
				integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
				crossorigin="anonymous"
			></script>
			<script
				src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
				integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
				crossorigin="anonymous"
			></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
			<script type="text/javascript">
					$(window).scroll(function(e) {
				      var scroll = $(window).scrollTop();
				      if (scroll >= 150) {
				      		$('.navbar').addClass("navbar-hide");
				      } else {
				      		$('.navbar').removeClass("navbar-hide");
				      }
				    });
						$('#myModal').on('shown.bs.modal', function () {
					  $('#myInput').trigger('focus')
					});
				</script>
			<script>
					$(document).ready(function(){
					    function alignModal(){
					        var modalDialog = $(this).find(".modal-dialog");
					        /* Applying the top margin on modal dialog to align it vertically center */
					        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
					    }
					    // Align modal when it is displayed
					    $(".modal").on("shown.bs.modal", alignModal);
					    // Align modal when user resize the window
					    $(window).on("resize", function(){
					        $(".modal:visible").each(alignModal);
					    });
					});
				</script>
				<script>
					// Get the current year for the copyright
					$('#year').text(new Date().getFullYear());

					// Lightbox Init
					$(document).on('click', '[data-toggle="lightbox"]', function(event) {
						event.preventDefault();
						$(this).ekkoLightbox();
					});
				</script>
	</body>
</html>
